header {
    background-color: #fff;
}

header .top {
    background-color: rgb(12, 93, 105);
    padding: 15px 0;
}

header .top .content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

header .top .content .left span,
header .top .content .right i {
    margin: 0 5px;
}

header nav {
    padding: 20px 0;
}

header nav .content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header nav .content .navBar {
    display: flex;
}

header nav .content .navBar>li {
    margin-left: 30px;
}

header nav .content .navBar li:nth-child(4) {
    position: relative;
}

header nav .content .navBar li:nth-child(4):hover ul.menu {
    transform: translateY(2px);
    opacity: 1;
    transition: all 1s ease;
}

header nav .content .navBar li:nth-child(4) ul.menu {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    transform: translateY(50px);
    opacity: 0;
}

header nav .content .navBar li:nth-child(4)>ul.menu li {
    width: 100px;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
}

header nav .content a {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

header nav .content .navBar li a {
    position: relative;
    box-sizing: border-box;
    display: block;
    font-size: 12px;
}

header nav .content .navBar>li {
    padding: 10px 0;
}

header nav .content .navBar li a::after {
    display: block;
    content: "";
    width: 100%;
    position: absolute;
    bottom: -1;
    height: 2px;
    background-color: rgb(19, 162, 183);
    transform: scale(0);
}

header nav .content .navBar li:not(header nav .content .navBar li:last-child):hover a::after {
    transform: scale(1);
    transition: transform 0.5s ease;
}

header nav .content .navBar>li:last-child {
    border: 2px solid rgb(19, 162, 183);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

header nav .content .Btn {
    background-color: transparent;
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    display: none;
}