        /* Pad端样式 */
        @media screen and (min-width:750px) and (max-width:960px) {
            body>header {
                position: sticky;
                top: 0;
            }

            body>header .top {
                display: none;
            }

            body>header nav .content .navBar {
                display: none;
            }

            body>header nav .content .Btn {
                display: block;
            }

            .banner .content {
                width: 90%;
            }

            .banner .content .left {
                width: 70%
            }

            .box .items .item {
                width: 45%;
            }

            .container .main-section .item {
                width: 32%;
            }

            .doctors>.cards {
                justify-content: space-between;
            }

            .doctors>.cards>.card {
                width: 45%;
                margin: 15px 0;
            }

            /* 移动端隐藏pc端的相册 */
            .photo-album {
                display: none;
            }

            .tips .content {
                justify-content: space-between;
            }

            .tips .content .item {
                width: 45%;
                margin: 10px 0;
            }

            /* 移动端显示移动端的相册 */
            .mobile-photo-album {
                display: block;
            }

            footer .header .content {
                flex-direction: column;
                align-items: center;
            }

            footer .header .content .search {
                justify-content: center;
                width: 90%;
                margin: 40px 0;
            }

            footer .center .content {
                flex-direction: column;
                align-items: center;
            }

            footer .center .content .left {
                width: 100%;
                display: flex;
                justify-content: space-between
            }

            footer .center .content .right {
                width: 100%;
            }

            footer .buttom .content {
                flex-direction: column;
                align-items: center;
            }

            footer .buttom .content p {
                text-align: center;
                margin: 10px 0;
            }
        }