        /* PC端样式 */
        @media screen and(min-width:960px) {
            header .top {
                display: block;
            }

            .box .items {
                min-width: 960px;
            }

            /* pc端显示pc端的相册 */
            .photo-album {
                display: block;
            }

            /* pc端隐藏移动端的相册 */
            .mobile-photo-album {
                display: none;
            }
        }