        /* (start)移动端侧边栏 */
        .sidebar {
            background-color: rgb(0, 0, 0, 0.5);
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: none;
        }

        /* 侧边栏显示动画 */
        @keyframes show {
            0% {
                transform: translateX(-280px);
                opacity: 0;
            }

            100% {
                transform: translateX(0px);
                opacity: 1;
            }
        }

        /* 侧边栏隐藏动画 */
        @keyframes hidden {
            0% {
                transform: translateX(0);
                opacity: 1;
            }

            100% {
                transform: translateX(-280px);
                opacity: 0;
            }
        }

        .hidden {
            animation: hidden 1s ease;
        }

        .show {
            animation: show 1s ease;
        }

        .sidebar .content {
            background-color: #fff;
            width: 280px;
            height: 100vh;
            overflow-y: scroll;
        }



        .sidebar .content .body {
            padding: 30px;
        }

        .sidebar .content .Logo a {
            color: black;
            font-size: 30px;
            font-weight: bold;
        }

        .sidebar .content .navBar li {
            margin: 20px 0;
            font-size: 13px;
            font-weight: bold;
        }

        .sidebar .content .navBar li:last-child {
            border: 3px solid rgb(10, 231, 205);
            width: 100px;
            padding: 10px 20px;
            border-radius: 10px;
        }

        .sidebar .content .navBar li a {
            color: black;
        }

        .sidebar .content .phone {
            display: flex;
            flex-direction: column;
        }

        .sidebar .content .phone span {
            margin: 5px 0;
            font-size: 12px;
            font-weight: bold;
        }

        .sidebar .content .phone span i {
            color: rgb(10, 231, 205);
        }

        .sidebar .content .facebook {
            margin-top: 20px;
        }

        /* (end)移动端侧边栏 */
        .sidebar .content .facebook i {
            margin-right: 20px;
        }